*{
    padding:0;
    margin: 0;
}

html,body{
    font-family: "PingFang SC",
    "Microsoft YaHei",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Hiragino Sans GB",
    "Hiragino Sans GB W3",
    "Microsoft YaHei UI",
    "WenQuanYi Micro Hei",
    sans-serif;
    background-color: #f1f1f1;
}
img{
    width:100%!important;
    height:100%!important;
}

/*移动端适配 width|height|font-size = 视觉稿量出来的值 / 100rem;@lbl*/
@media screen and (max-width:359px) and (min-width:320px) {
    html,body{
        font-size: 50px !important;/*i5宽度*/
    }
}
@media screen and (max-width:374px) and (min-width:360px) {
    html,body{
        font-size: 56.25px !important;/*Android常用宽度*/
    }
}
@media screen and (max-width:413px) and (min-width:375px) {
   html,body{
        font-size: 58.5px !important;/*i6,i7宽度*/
    }
}
@media screen and (max-width:639px)  and (min-width:414px){
   html,body{
        font-size: 64.6px !important; /*i6Plus,i7Plus宽度*/  
    }
}
@media screen and (min-width:640px) {
   html,body{
        font-size: 100px !important;
    }
}
a{
    text-decoration: none;
}

#app{
    padding:0px;
  }


